{% extends 'base/base.html' %}

{% block title %} Main {% endblock title %}

{% load thumbnail %}

{% block content %}

<main class="container">

  {% if list_of_categories %}
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">

      {% for category in list_of_categories %}
      <a class="p-2 link-secondary" href="{% url 'posts_of_categories' category.id %}">
        {{category.title}}
      </a>
      {% endfor %}
    </nav>
  </div>
  {% endif %}

  {% if main_post %}
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ main_post.title }}</h1>
      <p class="lead my-3">{{ main_post.text | truncatewords:20 }}</p>
      <p class="lead mb-0">
        <a href="{% url 'post_detail' main_post.id %}"
           class="text-white fw-bold">
          Continue reading...
        </a>
      </p>
    </div>
  </div>
  {% endif %}

  {% if secondary_post1 %}
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">
            {% for post in post_cat1 %}
            {{post.category}}
            {% endfor %}
          </strong>
          <h3 class="mb-0">{{secondary_post1.title}}</h3>
          <div class="mb-1 text-body-secondary">{{secondary_post1.creation_date}}</div>
          <p class="card-text mb-auto">{{secondary_post1.text | truncatewords:15 }}</p>
          <a href="{% url 'post_detail' secondary_post1.id %}" class="stretched-link">Continue reading</a>
        </div>

      </div>
    </div>
    {% endif %}

    {% if secondary_post2 %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">
            {% for post in post_cat2 %}
            {{post.category}}
            {% endfor %}
          </strong>
          <h3 class="mb-0">{{secondary_post2.title}}</h3>
          <div class="mb-1 text-body-secondary">{{secondary_post2.creation_date}}</div>
          <p class="mb-auto">{{secondary_post2.text | truncatewords:15}}</p>
          <a href="{% url 'post_detail' secondary_post2.id %}"
             class="stretched-link">
            Continue reading
          </a>
        </div>
<!--        <div class="col-auto d-none d-lg-block">-->
<!--          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
<!--        </div>-->
      </div>
    </div>
    {% endif %}

  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Latest Posts
      </h3>

      {% if latest_posts %}
      {% for post in latest_posts %}
      <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{post.title | truncatewords:20}}</h2>
        <div class="post__header mb-3"
             style="display: flex; justify-content: space-between;">

            <img class="post__avatar align-self-start"
                                style="align-self: start; margin-right: 0.75rem"
                                src="{% thumbnail post.author.photo 50x50 crop %}"
                                alt="Avatar">
            <time class="creation-date fst-italic">{{ post.creation_date | date:'d.M.Y' }}</time>
        </div>

        <p>{{post.text | truncatewords:25 }}</p>
        <a href="{% url 'post_detail' post.id %}"
           class="stretched-link">
          Continue reading
        </a>
      </article>
      {% endfor %}
      {% endif %}


      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock content %}
