{% extends 'base/base.html' %}

{% block title %} Create New Post {% endblock title %}

{% block content %}

{% if 'news.add_post' in perms %} <!-- проверка разрешений -->
{% load static %}
{% load widget_tweaks %}

<main class="container">
  <div class="row mb-2 form-group">
    <h3 class="display-15 pb-4 mb-4 fst-italic border-bottom">Создание публикации</h3>

    <form style="width: 100%" method="POST" autocomplete="off">
      {% csrf_token %}

      {{ form.non_field_errors }}

      {{ form.source.errors }}
      {{ form.source }}

      {{ form.media.errors }}
      {{ form.media }}

      <!-- ПОЛЕ С НАЗВАНИЕМ СТАТЬИ НАЧАЛО  -->
      <div class="post__form-field mb-4" style="display: flex; flex-direction: column;">
        <label class="post__form-label fst-italic" style="margin-bottom: 5px;">
          <h5>Название</h5>
        </label>
        {% render_field form.title type="text" id='title' placeholder="Введите название публикации"%}
        {{ form.title.errors }}
      </div>
      <!-- ПОЛЕ С НАЗВАНИЕМ СТАТЬИ КОНЕЦ  -->

      <!-- ПОЛЕ С СОДЕРЖАНИЕМ СТАТЬИ НАЧАЛО  -->
      <div class="post__form-field mb-4" style="display: flex; flex-direction: column;">
        <label class="post__form-label fst-italic" style="margin-bottom: 5px;">
          <h5>Содержание</h5>
        </label>
        {% render_field form.text type="textarea" id='text' placeholder="Введите текст публикации"%}
        {{ form.text.errors }}
      </div>
      <!-- ПОЛЕ С СОДЕРЖАНИЕМ СТАТЬИ КОНЕЦ  -->

      <div class="row mb-4" style="margin-bottom: 5px;">

        <!-- ПОЛЕ С КАТЕГОРИЕЙ СТАТЬИ НАЧАЛО  -->
        <div class="post__form-field col-md-6" style="display: flex; flex-direction: column;">
          <label class="post__form-label fst-italic" style="margin-bottom: 5px;">
            <h5>Категории</h5>
          </label>
          {% render_field form.categories type="select" id='categories' %}
          {{ form.categories.errors }}
        </div>
        <!-- ПОЛЕ С КАТЕГОРИЕЙ СТАТЬИ КОНЕЦ  -->

        <!-- ПОЛЕ С ТИПОМ СТАТЬИ НАЧАЛО  -->
        <div class="post__form-field col-md-6" style="display: flex; flex-direction: column;">
          <label class="post__form-label fst-italic" style="margin-bottom: 5px;">
            <h5>Тип публикации</h5>
          </label>
          {% render_field form.type type="radio" id='type'%}
          {{ form.type.errors }}
        </div>
        <!-- ПОЛЕ С ТИПОМ СТАТЬИ КОНЕЦ  -->
      </div>


      {% for hidden_field in form.hidden_fields %}
      {% if hidden_field.errors %}
      <ul>
        {% for error in hidden_field.errors %}
        <li>(hidden field {{ hidden_field.name }})</li>
        {% endfor %}
      </ul>
      {% endif %}
      {{hidden_field}}
      {% endfor %}

      <!-- Теперь нам нужна только готовая форма и кнопка -->
      <div class="post__form-field mb-4" style="display: flex; flex-direction: column;">
        <button class="btn btn-lg btn-block btn-outline-dark" type="submit">
          Сохранить
        </button>
      </div>



    </form>


    {% else %}

    <h4>Похоже вы не авторизованны или у вас не хватает прав.</h4>

    {% endif %}

  </div>
</main>







{% endblock content %}