{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- Загружаем фильтры (чтобы использовать фильтр "ЦЕНЗОР") -->

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}
 
<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
    <h1>Все публикации  </h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
    <hr>
    {% if post_list %}
        <table>
           <tr>
               <td>Название</td>
               <td>Дата публикации</td>
               <td>Предпросмотр</td>
           </tr>
            <!-- Для каждой публикации будет генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           post_list — переменная цикла, т.е. наша публикация полученный из списка -->
           {% for post in post_list %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце дату создания публикации, и т.д.  -->
               <td> <a href="{% url 'post_detail' post.id %}">{{ post.post_title | censor }}</a> </td>
               <td>{{ post.creation_date | date:'d.M.Y' }}</td>
               <!-- Добавим специальный фильтр truncatechars,
                чтобы ограничить количество символов до 20.
                Также добавим фильтр "Цензор" для цензурирования непотребных слов.
                Все остальные символы превратятся в многоточие. -->
               <td>{{ post.post_text | censor | truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Публикации отсутствуют!</h2>
   {% endif %}
{% endblock content %}
